= content_tag_for :section, post do
  %h2= link_to post.title, post, class: 'post'
  %date= post.date.strftime('%-m.%-d.%Y')
  = image_tag post.metadata[:image], alt: post.title, class: 'postings-figure', width: '480', height:'135'
  %p<
    %small= "written by #{post.author}"
  = post_summary_html post
  %footer
    %p<
      = link_to '&raquo; read full article'.html_safe, post
